.main-container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.login-form{
    min-width: 300px;
}
.login-form form{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px 8px 0px 8px;
    /* align-items: center; */
}
.login-form form label h4{
    margin-bottom: 3px;
    font-size: 16px;
}
.login-form form label input{
    width: calc(100% - 6px);
    font-size: 15px;
    height: 34px;
    border: 2px solid seagreen;
    border-radius: 10px;
    padding-left: 7px;
    box-shadow: 2px 2px 10px rgba(12, 47, 28, 0.404);
}
.main-btn{
    font-size: 15px;
    margin-top: 25px;
    padding: 9px;
    color: rgb(23, 75, 46);
    font-weight: 600;
    background-color: rgb(245, 248, 246);
    border-radius: 19px;
}
.main-btn:hover{
    color: rgb(245, 248, 246);
    background-color: rgb(23, 75, 46);
    box-shadow: 2px 2px 15px solid rgba(21, 67, 41, 0.832);
}
.handle-btn{
    background-color: tranparent;
    color: rgb(56, 175, 110);
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.switching{
    margin:7px 10px;
    /* border: 2px solid silver; */
    font-size: 14px;
}












