.reviews1{
    padding: 20px;
    margin: 10px;
}
.views{
    padding: 60px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.person{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(64, 96, 86);
    border-radius: 5px;
}
.person .pimg{
    border: 8px solid rgb(223, 212, 212);
    border-radius: 50%;
}
.person .pname{
    font-size: 1.45em;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.person .ptext{
    font-size: 1.15em;
}